# files to ignore
.env
settings.yaml

# folders to ignore
__pycache__/
cache/
generated_responses/
input/
output/
prompts/
*.log
lightrag.log
.DS_Store
DB/*
responses/*
chat.log
DB/pdf/
DB/deep/
DB/dickens/
