# RAG packages
lightrag-hku
# Streamlit
streamlit
watchdog
# preprocessing
python-pptx
python-docx
openpyxl
pillow
accelerate
aioboto3
aiohttp
termcolor
# database packages
graspologic
hnswlib
nano-vectordb
neo4j
networkx
ollama
openai
oracledb
pymilvus
pymongo
pyvis
tenacity
fastapi
nest_asyncio
# lmdeploy[all]
# LLM packages
tiktoken
torch
transformers
xxhash
python-dotenv
pandas
numpy
pydantic-ai
pytest
pytest-asyncio
httpx
beautifulsoup4
